
@import url(https://fonts.googleapis.com/css?family=Alice);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* { margin: 0; padding:0; box-sizing:border-box; }

body { 
	background-color: #f3efe6;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:16px;
	color: #222;
	text-align: center;

}
header { 
	background-color: #fff;
	font-family: 'Alice', serif;
	font-size: 1em;
	color: #222;
	text-transform: uppercase;
	padding: 20px;
}
nav a { 
	color: #222;
	text-decoration: none;
}
footer {
	background-color: #222;
	font-size: .75em;
	color: #FFF;
	text-transform: uppercase;
	padding: 20px;
	letter-spacing: .1em;
	word-spacing: .5em;
}
figure {
	float:left;
	width:33.33%;
}
figure img {
	width:100%;
}
img {
	display:block;
}


h1 {
	font-family: 'Alice', serif;
	font-weight: normal;
	font-size: 3.24em;
	line-height: 1em;
	color: #fff;
	float:left;
	padding:1em;
	width:50%;
}

h3 {
	font-size: .75em;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	color: #222;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
  float: left;
  width: 15%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #222;
    margin: 1em 0;
    padding: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.column {
	width: 315;
	padding: 0px 0 20px 20px;
	float: left;
}

.column p {
	font-family: 'Alice';
	font-weight: normal;
	font-size: 1.618em;
	color: #993233;
	text-align: center;
}
.featuredchannel {
	display: inline-block;
	float: left;
	background-color: #993233;
	height: 100px;
}

.channelbg {
	background-color: #993233;
}

.container {
	width: 315px;
	padding: 10px;
	background-color: #fff;
}

.container .subhed {
	padding: 0px
}

.items {
	width: 315px;
	padding: 10px;
	background-color: #fff;
	display: inline-block;
}

.items p{
	padding: 0 0 10px 0;
}
.merch {
	display: inline-block;
	float: left;
	padding: 0 0 10px 0;

}

.merch p {
	font-size: .75em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #222;
	line-height: 1.618em;
}

.merch a {
	color: #993233;
	text-decoration: none;
}

.merch img {
	width: 142px;
	}

.rowNumber1 {
	display: block;
}
.rowNumber2 {
	display: block;
}

.leftitem {
	padding-right: 5px;
}

.rightitem {
	padding-left: 5px;
}
.section {
	width: 1025px;
	margin: auto;
  	display: inline-block;
}

.subhed {
	padding:20px;
}

#logo {
	float: left;
	}

#displaytext {
	padding: 20px;
	width: 50%;
}

#displayimage {
	padding: 0;
}

#navmenu {
	float: right;
	width: 100%;
	max-width: 670px;
	text-align: left;
	word-spacing: 3em;
}
#splash {
	background:#993233;
}
#splash img {
	float:left;
	width:50%;
}
#copyright {
	font-size: .618em;
	text-transform: none;
	word-spacing: 0em;
}
.page-wrap {
	text-align: left;
	max-width: 1200px;
	margin: 0 auto;
}
