
@import url(https://fonts.googleapis.com/css?family=Alice);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* { margin: 0; padding:0; box-sizing:border-box; }

body { 
	background-color: #f3efe6;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size:16px;
	color: #222;
	line-height: 1.618em;
	text-align: center;

}

img {
	width: 100%;
}

nav { 
	background-color: #fff;
	font-family: 'Alice', serif;
	font-size: 1em;
	color: #222;
	line-height: 1.618em;
	height: 100%;
	text-transform: uppercase;
	padding: 20px;
}

nav a { 
	color: #222;
	text-decoration: none;
}

#page-wrap {
  text-align: left;
  width: 1025px;
  margin: 0 auto;
}

h1 {
	font-family: 'Alice', serif;
	font-weight: normal;
	font-size: 3.2em;
	line-height: 1em;
	color: #fff;

}

h3 {
	font-size: .75em;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	color: #222;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
  float: left;
  width: 15%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

main {
	background: #fff;
}


.subhed {
	padding:20px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.column {
	width: 315;
	padding: 0px 0 20px 20px;
	float: left;
}

.column p {
	font-family: 'Alice';
	font-weight: normal;
	font-size: 1.618em;
	color: #993233;
	text-align: center;
}

.section {
	width: 1025px;
	margin: auto;
  	display: inline-block;
}

.featured {
	display: inline-block;
	float: left;
	background-color: #993233;
	height: 308px;
}
.channelbg {
	background-color: #993233;
}

.items {
	width: 315px;
	padding: 10px;
	background-color: #fff;
	display: inline-block;
}

.items p{
	padding: 0 0 10px 0;
}

#displayimage {
	padding: 0;
}
.container {
	width: 315px;
	padding: 10px;
	background-color: #fff;
}

.container .subhed {
	padding: 0px
}
.merch {
	display: inline-block;
	float: left;
	padding: 0 0 10px 0;

}

.merch p {
	font-size: .75em;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #222;
	line-height: 1.618em;
}

.merch a {
	color: #993233;
	text-decoration: none;
}

.merch img {
	width: 142px;
	}

#displaytext {
	padding: 20px;
	width: 50%;
}

.featuredchannel {
	display: inline-block;
	float: left;
	background-color: #993233;
	height: 100px;
}

#logo {
	float: left;
	}

#navmenu {
	float: right;
	width: 100%;
	max-width: 670px;
	text-align: left;
	word-spacing: 3em;
}
.rowNumber1 {
	display: block;
}
.rowNumber2 {
	display: block;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #222;
    margin: 1em 0;
    padding: 0;
}

.leftitem {
	padding-right: 5px;
}

.rightitem {
	padding-left: 5px;
}

footer {
	background-color: #222;
	font-size: .75em;
	color: #FFF;
	text-transform: uppercase;
	padding: 20px;
	letter-spacing: .1em;
	word-spacing: .5em;
}

#copyright {
	font-size: .618em;
	text-transform: none;
	word-spacing: 0em;
}