
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);

* { margin: 0; padding:0; box-sizing:border-box; }

body { 
	background-color: #222;
	font-family: 'Poppins', Courier, monospace;
	font-size:16px;
	line-height: 1.618em;
}
footer {
	font-family: 'Poppins', sans-serif;
	font-size: .75em;
	color: #e7e7e7;
	text-transform: uppercase;
	background-color: #222;
	background-size: cover;
	text-align: center;
}
nav {
	float:center;
	position: relative;
    left: 0;
    width: 100%;
	font-family: 'Poppins';
	text-align: center;
	font-size: 1em;
	padding: 1em;
	background-color: #f6f6f6;
	text-transform: uppercase;
	-webkit-box-shadow: 0px 4px 10px 4px rgba(0,0,0,.1);
  	-moz-box-shadow: ;
 	 box-shadow: ;
}
nav a {
	letter-spacing: .05em;
	padding: 1em;
}
header { 
	background: #222;
	margin: 0;
	text-align: center;
	padding-top: 1em;

}
header h1{ 
	text-align: center;
	color: #f6f6f6;
	text-align: center;

}

section, footer {
	padding:3em 0;
}
h1 { 
	color: #222;
	font-size: 2.5em;
	text-transform: uppercase;
	line-height: 1em;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	padding-bottom: .25em;
	text-align: center;
}
h2 { 
	color: #222;
	font-size: 2em;
	line-height: 1.25em;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	padding-bottom: .5em;
	text-align: center;
}
h3 { 
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 1em;
	font-family: 'Poppins';
	font-weight: 400;
	text-align: center;
	padding: 1em;

}
h4 { 
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 1em;
	font-family: 'Poppins';
	font-weight: 400;
	text-align: center;
	padding: 0 1em 1em 1em;

}
p { 
	margin-bottom: 1em;
	width: 85%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	color: #222;
}
nav a:link {
	color: #222;
}
nav a:visited {
	color: #222;
}
nav a:hover {
	color: #0066ff;
}
nav a:active {
	color: #0066ff;
	}
section img {
    width: 100%;
    display: block;
}
address{
		font-style: normal;
}
a {
	color: #222;
	text-decoration: none;
}
hr {
    background-color: #222;
    border: 0 none;
    color: #222;
    height: 1px;
    margin: 2em 4em;
}
a:hover {
		color: #0033ff;
}
label{
	display: none;
	color: #f6f6f6;
	font-family: 'Poppins';
	margin: auto;
	font-size: 1.25em;
	text-transform: uppercase;
}
input {
}

h1 a:link {
	color: #fff;
}
h1 a:visited {
	color: #fff;
}
h1 a:hover {
	color: #fff;
}
h1 a:active {
	color: #fff;
	}
.smoothScroll p {
	text-align: center;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.channels {
	display: inline-block;
	padding: 1em;
	float: left;
	width: 33.33%;
}
.channels img {
	padding-bottom: 1em;
}
.channelbox {
	padding: 0 1em 1em 1em;
	max-width: 1200px;
	margin: auto;
}
.odditem {
	background-color: #e7e7e7;
}
.evenitem {
	background-color: #f6f6f6;
}
.runninggraph {
	display: block;
}
.runninggraph:first-letter {
 						display: block;
 						text-transform:uppercase;
 						color: #0066ff;
 						font-size: 10em;

}
.topblock {
	display: inline-block;
	min-width: 100%
}
.wrapper {
	max-width: 100%;
	margin: auto;
	background-color: #f6f6f6;
	padding: 0;
}
.arrow {
	color:#222;
	font-size: 2em;
	left: 50%;
	right: 50%;
}

.gallery p {
	font-size: 1em;
	font-family: 'Poppins';
}
.gallery img {
			padding: 1em;
			width: 85%;
			max-width: 850px;
			background-color: #fff;
			display: block;
    		margin-left: auto;
    		margin-right: auto;
}
.gallerytall img {
			padding: 1em;
			width: 75%;
			max-width: 700px;			
			background-color: #fff;
			display: block;
    		margin-left: auto;
    		margin-right: auto;
}
.inset img {
			padding: 1em;
			width: 95%;
			max-width: 500px;
			background-color: #fff;
			display: block;
    		margin-left: auto;
    		margin-right: auto;
}
.gallerytall p {
	font-size: 1em;
	font-family: 'Poppins';
}
#logo {
	max-width: 100%;
	padding: 1em;
	display: block;
	float: left;
}
#logo {
	width: 10em;
	vertical-align: center;
	float: left;
	padding: 1em;
}
#menu {
	display: none;
}
#splash {
	background-image:url(../images/splash1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 60vh;
	margin: 0;
	padding: 0;
}
.buy-btn {
	display: block;
	font-size: .75em;
	width:9em;
	margin: 0 auto 1em;
	padding:.25em;
	background-color: ;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .2em;
	border-style: solid;
	border-color: #222;
	-o-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.buy-btn:hover{
	background-color: #222;
	color: #fff;
}
@media screen and (max-width:640px){
	body {
		font-size: 12px
	}

	label{
		display: block;
		text-align: center;
		padding: 1em;
		background-color: #333;
	}

	nav{
		display: none;
		float: none;
		/*clear: both;*/
		background-color: #fff;
	}
	nav a{
		display: block;
		text-align: center;
		margin-bottom: 1px;
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		font-size: 1em;
		padding: 0.5em 0 .5em;
		letter-spacing: .25em;

	}
	#menu:checked + nav{
		display: block;
		position: absolute;
		width: 100%;
	}

	#logo{
		float:left;
		display: block;
		margin:auto;
	}
	.gallery img {
			max-width: 85%;
			padding: .5em;
		}

	.gallery p {
		max-width: 85%;
	}
	.gallerytall img {
			max-width: 75%;
			padding: .75em;
		}

	.gallerytall p {
		max-width: 75%;
	}

	.inset img {
			max-width: 85%;
			padding: .5em;
		}

	.inset p {
		max-width: 85%;
	}

	.smoothScroll {
		display: none;
	}

/*#newsbar {
	padding: .125em;
	font-family: 'Poppins';
	font-weight: 700;
	font-size: .618em;
	background-color: #014a4a;
	text-align: center;
}
/*hover test*/
./*featured {
    position: relative;*/ /* or absolute, if needed */
/*}

.covering {
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}
.featured:hover .covering {
    opacity: 0.6;
}

.background {
    width: 100%; height: 100%;
    background: black;
}
.foreground {
    height: 38px;
    bottom: 0; right: 0;
    margin: auto;
    text-align: center;
}*/


