body { 
	background-color: #cfe1e6;
}

* {
	margin: 0;
}

h1 { 
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	padding: 5px;
	text-transform: uppercase;

}

h1, nav, ul {
	display: inline;
}

p { 
	font-family: 'Belleza', serif;
	color: #000;
	font-size: .85em;
	margin-bottom: 1.25em; 
}

ul {
	font-family: 'Oswald', sans-serif;
	color: #fff;
	font-size: 1em;
	list-style: none;
}

nav {
	text-transform: uppercase;
}

li {
	display: inline;
	padding: 0px 10px;

}

header { 
	background: #000;
	margin: 0;
	padding: 0 0 0 20px;
	height: 50px;}


div { 
	margin: 0;
	padding: 0;
	display: block;
}

section { 
	margin: 0;
	padding: 0;

}

section img {
    width: 100%;
    height: auto;
    display: block;
}

#news {
	color: #000;
	font-family: 'Belleza', serif;
	font-size: 1.5em;
}

#footer {
	color: #000;
	font-family: 'Oswald', sans-serif;
	font-size: .5em;
}

a:link {
	color: #7f8393;
}

a:hover {
    color: #000;
}

.bodytext {
	max-width: 800px;
}

.newsblock{ 
	background-color: #ffffff;
}

.container{ 
	margin: 0;
	padding: 10px 10px 10px 40px;
}

.footerblock{ 
	background-color: #cfe1e6;
	margin: 0;
    width: 100%;
    /*position: absolute;
    bottom: 0;
    left: 0;*/

}




