* { margin: 0; padding:0; box-sizing:border-box; }
body { 
	background-color: #cfe1e6;
	font-family: 'Belleza', serif;
	font-size:16px;
	color: #222;
}
h1 { 
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
}
h1, nav, ul, li {
	display: inline-block;
	font-family: 'Oswald', sans-serif;
}

p { 
	margin-bottom: 1.25em; 
}

ul {
	color: #fff;
	font-size: 1em;
	list-style: none;
}

nav {
	text-transform: uppercase;
}

header { 
	background: #000;
	margin: 0;
	padding: 1em;
	height: 50px;
}

section img {
    width: 100%;
    display: block;
}
footer {
	font-family: 'Oswald', sans-serif;
	font-size: .75em;
}

a {
	color: #7f8393;
}

a:hover {
	color: #222;
}

.bodytext {
	max-width: 800px;
}

.newsblock{ 
	background-color: #ffffff;
}

.container{ 
	padding: 10px 10px 10px 40px;
}

.footerblock{ 
	background-color: #cfe1e6;
    width: 100%;
    /*position: absolute;
    bottom: 0;
    left: 0;*/

}
#splash {
	background-image:url(../assets/escapecvr.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 90vh;
}




