
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700);

* { margin: 0; padding:0; box-sizing:border-box; }

body { 
	background-color: #222;
	font-family: 'Poppins', Courier, monospace;
	font-size:16px;
	line-height: 1.618em;
}

.splash-imgs{
    width:100%;
}

#splash{
    width:100%;
    height: 60vh;
    overflow:hidden;
    margin: 0;
    padding: 0;
}